<div class="container border-blue">
  <div class="title-and-estimate-container">
    <div class="title-container">
        <div class="vsts-number">
          <strong>{{number}}</strong>
        </div>
      <div class="title-text">
        {{title}}
      </div>
    </div>
    <div class="estimate-container border-blue">
      <div class="estimate-number">{{estimate}}</div>
    </div>
  </div>
  <div class="po-vsts-container">
    <div class="po">
      <strong>Assigned To:</strong><br/>
      {{assigned_to}}
    </div>

  </div>
  <div class="po-path-container">
    <hr>
    <div class="vsts-area">
        <strong>Area:</strong> {{area_path}}
    </div>
    <hr>
    <div class="vsts-iteration">
        <strong>Iteration:</strong> {{iteration_path}}
    </div>
  </div>

</div>